# Depression Detection Using NLP

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
## Import dataset and read that dataset

In [3]:
dataset=pd.read_csv("dataset.csv")
dataset.head()

   Unnamed: 0                                          statement   status
0           0                                         oh my gosh  Anxiety
1           1  trouble sleeping, confused mind, restless hear...  Anxiety
2           2  All wrong, back off dear, forward doubt. Stay ...  Anxiety
3           3  I've shifted my focus to something else but I'...  Anxiety
4           4  I'm restless and restless, it's been a month n...  Anxiety

In [4]:
## get the information of dataset

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53043 entries, 0 to 53042
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  53043 non-null  int64
 1   statement   52681 non-null  object
 2   status      53043 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.2+ MB

In [6]:
## check the null values of the dataset

In [7]:
dataset.isnull().sum()

Unnamed: 0      0
statement     362
status          0
dtype: int64

## Data Preprocessing

In [8]:
## Drop the unnecessary columns

In [9]:
new_dataset=dataset.drop('Unnamed: 0', axis=1)
new_dataset.head()

                                           statement   status
0                                         oh my gosh  Anxiety
1  trouble sleeping, confused mind, restless hear...  Anxiety
2  All wrong, back off dear, forward doubt. Stay ...  Anxiety
3  I've shifted my focus to something else but I'...  Anxiety
4  I'm restless and restless, it's been a month n...  Anxiety

In [10]:
new_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53043 entries, 0 to 53042
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   statement  52681 non-null  object
 1   status     53043 non-null  object
dtypes: object(2)
memory usage: 828.9+ KB

In [11]:
##  check value counts of statement

In [12]:
new_dataset['status'].value_counts()

status
Normal                  16351
Depression              15404
Suicidal                10653
Anxiety                  3888
Bipolar                  2877
Stress                   2669
Personality disorder     1201
Name: count, dtype: int64

In [13]:
new_dataset['statement'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 53043 entries, 0 to 53042
Series name: statement
Non-Null Count  Dtype
--------------  -----
52681 non-null  object
dtypes: object(1)
memory usage: 414.5+ KB

In [14]:
## Fill the missing values

In [15]:
new_dataset_statement=new_dataset['statement'].mode()[0]
new_dataset_statement

'what do you mean?'

In [17]:
new_dataset['statement']=new_dataset['statement'].fillna(new_dataset_statement)
new_dataset['statement'].head()

0                                           oh my gosh
1    trouble sleeping, confused mind, restless hear...
2    All wrong, back off dear, forward doubt. Stay ...
3    I've shifted my focus to something else but I'...
4    I'm restless and restless, it's been a month n...
Name: statement, dtype: object

In [18]:
##  check the null values of statement column after filling  the null values

In [21]:
new_dataset['statement'].isnull().sum()

0

In [22]:
new_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53043 entries, 0 to 53042
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   statement  53043 non-null  object
 1   status     53043 non-null  object
dtypes: object(2)
memory usage: 828.9+ KB

In [24]:
## text preprocessing

In [25]:
import string
import re