# Depression Detection Using NLP

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
## Import dataset and read that dataset

In [3]:
dataset=pd.read_csv("dataset.csv", encoding="latin-1")
dataset.head()

   Unnamed: 0                                          statement   status
0           0                                         oh my gosh  Anxiety
1           1  trouble sleeping, confused mind, restless hear...  Anxiety
2           2  All wrong, back off dear, forward doubt. Stay ...  Anxiety
3           3  I've shifted my focus to something else but I'...  Anxiety
4           4  I'm restless and restless, it's been a month n...  Anxiety

In [4]:
## get the information of dataset

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53043 entries, 0 to 53042
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  53043 non-null  int64
 1   statement   52681 non-null  object
 2   status      53043 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.2+ MB

In [6]:
## check the null values of the dataset

In [7]:
dataset.isnull().sum()

Unnamed: 0      0
statement     362
status          0
dtype: int64

In [8]:
## Split the whole dataset into  train and test set

In [9]:
from sklearn.model_selection import train_test_split
trainset, testset=train_test_split(dataset, test_size=0.2, random_state=42)

In [10]:
trainset.shape, testset.shape

((42434, 3), (10609, 3))

In [11]:
trainset.head()

,Unnamed: 0,statement,status
52275,52275,How do you make eye contact with people? I rea...,Anxiety
49099,49099,"Balancing school, social life and work How to ...",Stress
10636,10636,weed made me motivated and happy again. motivated,Depression
23796,23796,24/7 i cringe at my past thoughts omg its so p...,Suicidal
48863,48863,NaN,Stress

In [12]:
testset.head()

,Unnamed: 0,statement,status
22261,22261,Just as the the title says. I feel like one is...,Depression
41400,41400,a blackened sky encroached tugging behind it m...,Depression
20065,20065,"It gives you insomnia, which in turn makes you...",Depression
30036,30036,"Hello all, I'm a new submitter to this channel...",Normal
780,780,Thank God the CB is over for Eid,Normal

## Data Preprocessing

In [13]:
## Drop the unnecessary columns

In [14]:
new_train_set=trainset.drop('Unnamed: 0', axis=1)
new_train_set.head()

                                               statement      status
52275  How do you make eye contact with people? I rea...     Anxiety
49099  Balancing school, social life and work How to ...      Stress
10636  weed made me motivated and happy again. motivated  Depression
23796  24/7 i cringe at my past thoughts omg its so p...    Suicidal
48863                                                NaN      Stress

In [15]:
new_train_set.info()

<class 'pandas.core.frame.DataFrame'>
Index: 42434 entries, 52275 to 15795
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   statement  42157 non-null  object
 1   status     42434 non-null  object
dtypes: object(2)
memory usage: 994.5+ KB

In [16]:
##  check value counts of statement

In [17]:
new_train_set['status'].value_counts()

status
Normal                  13024
Depression              12304
Suicidal                 8635
Anxiety                  3109
Bipolar                  2297
Stress                   2112
Personality disorder      953
Name: count, dtype: int64

In [18]:
new_train_set['statement'].info()

<class 'pandas.core.series.Series'>
Index: 42434 entries, 52275 to 15795
Series name: statement
Non-Null Count  Dtype
--------------  -----
42157 non-null  object
dtypes: object(1)
memory usage: 663.0+ KB

In [19]:
## Fill the missing values

In [20]:
statement_column=new_train_set['statement'].mode()[0]
statement_column

'what do you mean?'

In [21]:
new_train_set['statement']=new_train_set['statement'].fillna(statement_column)
new_train_set['statement'].head()

52275    How do you make eye contact with people? I rea...
49099    Balancing school, social life and work How to ...
10636    weed made me motivated and happy again. motivated
23796    24/7 i cringe at my past thoughts omg its so p...
48863                                    what do you mean?
Name: statement, dtype: object

In [22]:
##  check the null values of statement column after filling  the null values

In [23]:
new_train_set['statement'].isnull().sum()

0

In [24]:
new_train_set.info()

<class 'pandas.core.frame.DataFrame'>
Index: 42434 entries, 52275 to 15795
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   statement  42434 non-null  object
 1   status     42434 non-null  object
dtypes: object(2)
memory usage: 994.5+ KB

In [25]:
## text preprocessing

In [26]:
import string
import re

In [27]:
new_train_set['statement'].head()

52275    How do you make eye contact with people? I rea...
49099    Balancing school, social life and work How to ...
10636    weed made me motivated and happy again. motivated
23796    24/7 i cringe at my past thoughts omg its so p...
48863                                    what do you mean?
Name: statement, dtype: object

In [28]:
## convert the uppercase letters into lowercase letters

In [29]:
new_train_set['statement']=new_train_set['statement'].apply(lambda x: "  ".join(x.lower() for x in  x.split()))

In [30]:
new_train_set['statement'].head()

52275    how  do  you  make  eye  contact  with  people...
49099    balancing  school,  social  life  and  work  h...
10636    weed  made  me  motivated  and  happy  again. ...
23796    24/7  i  cringe  at  my  past  thoughts  omg  ...
48863                                 what  do  you  mean?
Name: statement, dtype: object

In [31]:
## Remoe thee links

In [32]:
new_train_set['statement']=new_train_set['statement'].apply(lambda x:" ".join(re.sub(r'https?:\/\/.*[\r\n]*','',x,flags=re.MULTILINE) for x in x.split()))

In [33]:
new_train_set['statement'].head()

52275    how do you make eye contact with people? i rea...
49099    balancing school, social life and work how to ...
10636    weed made me motivated and happy again. motivated
23796    24/7 i cringe at my past thoughts omg its so p...
48863                                    what do you mean?
Name: statement, dtype: object

In [34]:
## Remove punctuation marks

In [35]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [36]:
def remove_punctuation(text):
    for punctuations in string.punctuation:
        text=text.replace(punctuations,'')
    return text
new_train_set['statement']=new_train_set['statement'].apply(remove_punctuation)
new_train_set['statement']

52275    how do you make eye contact with people i real...
49099    balancing school social life and work how to d...
10636     weed made me motivated and happy again motivated
23796    247 i cringe at my past thoughts omg its so pa...
48863                                     what do you mean
                               ...
11284    i used to be a very confident cheerful person ...
44732    spanx except i missed last week s lee and now ...
38158    tl dr have been abused mentally and physically...
860                           do i sell the tutorial again
15795    i am not religious but do believe in god but t...
Name: statement, Length: 42434, dtype: object

In [37]:
## remove the numbers from text

In [38]:
new_train_set['statement']=new_train_set['statement'].str.replace('\d+','',regex=True)
new_train_set['statement'].head()

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\THIS PC\AppData\Local\Temp\ipykernel_84928\4162056198.py:1: SyntaxWarning: invalid escape sequence '\d'
  new_train_set['statement']=new_train_set['statement'].str.replace('\d+','',regex=True)

52275    how do you make eye contact with people i real...
49099    balancing school social life and work how to d...
10636     weed made me motivated and happy again motivated
23796     i cringe at my past thoughts omg its so painf...
48863                                     what do you mean
Name: statement, dtype: object

In [39]:
## Remove stop words

In [40]:
import nltk

In [41]:
## download the stop words

In [42]:
nltk.download('stopwords', download_dir="model/stopwords/")

[nltk_data] Downloading package stopwords to model/stopwords/...
[nltk_data]   Package stopwords is already up-to-date!

True

In [43]:
## load the english language stopwords

In [44]:
with open("model/stopwords/corpora/stopwords/english", 'r') as file:
    stopwords=file.read().splitlines()

In [45]:
stopwords

['a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 "he'd",
 "he'll",
 'her',
 'here',
 'hers',
 'herself',
 "he's",
 'him',
 'himself',
 'his',
 'how',
 'i',
 "i'd",
 'if',
 "i'll",
 "i'm",
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it'd",
 "it'll",
 "it's",
 'its',
 'itself',
 "i've",
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she'd",
 "she'll",
 "she's",
 'should',
 'shouldn',
 "shouldn't",
 "should've",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 "they'd",
 "they'll",
 "they're",
 "they've",
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 "we'd",
 "we'll",
 "we're",
 'were',
 'weren',
 "weren't",
 "we've",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 'your',
 "you're",
 'yours',
 'yourself',
 'yourselves',
 "you've"]

In [46]:
new_train_set['statement']=new_train_set['statement'].apply(lambda x:' '.join(x for x in x.split() if x not in stopwords))

In [47]:
new_train_set['statement'].head()

52275    make eye contact people really struggle person...
49099    balancing school social life work balance scho...
10636                  weed made motivated happy motivated
23796    cringe past thoughts omg painful want die badl...
48863                                                 mean
Name: statement, dtype: object

In [48]:
## Remove the influectional forms from text

#### Inflectional forms mean that the same word can appear in different grammatical forms. To reduce this variation, we can use stemming or lemmatization. If the text dataset is very large and speed is important, stemming is usually preferred

In [49]:
from nltk.stem import PorterStemmer
ps=PorterStemmer()

In [50]:
new_train_set['statement']=new_train_set['statement'].apply(lambda x:' '.join(ps.stem(x) for x in x.split()))

In [51]:
new_train_set['statement'].head()

52275    make eye contact peopl realli struggl person a...
49099    balanc school social life work balanc school w...
10636                          weed made motiv happi motiv
23796    cring past thought omg pain want die badli cri...
48863                                                 mean
Name: statement, dtype: object